# ***** EXata Configuration File *****


#********************General Settings***********************************

VERSION 17.03
EXPERIMENT-NAME exata
EXPERIMENT-COMMENT NONE
SIMULATION-TIME 30M
SEED 1
MULTI-GUI-INTERFACE NO
GUI-CONFIG-LOCKED NO
NUM-NODES 32

#*******************Parallel Settings***********************************

PARTITION-SCHEME AUTO
GESTALT-PREFER-SHARED-MEMORY YES

#*******************Advanced Settings***********************************

DYNAMIC-ENABLED NO

#********************HeatMap Settings***********************************

PROP-HEAT-MAP-COLLECTION NO
PROP-HEAT-MAP-COLLECTION-START-TIME 0S
PROP-HEAT-MAP-COLLECTION-END-TIME 30S
PROP-HEAT-MAP-HORIZONTAL-GRANULARITY 100
PROP-HEAT-MAP-VERTICAL-GRANULARITY 10
PROP-HEAT-MAP-MAX-HEIGHT 100
PROP-HEAT-MAP-MAX-DEPTH 0
STATS-DB-HEATMAP-EVENTS-TABLE NO
STATS-DB-HEATMAP-SUMMARY-INTERVAL 600S
STATS-DB-HEATMAP-SUMMARY-TABLE NO
STATS-DB-HEATMAP-DESCRIPTION-TABLE NO

#*****************************Terrain***********************************

COORDINATE-SYSTEM LATLONALT
TERRAIN-SOUTH-WEST-CORNER (34.0, -120)
TERRAIN-NORTH-EAST-CORNER (35.00, -119.0)
DUMMY-ALTITUDES (1500, 0)
TERRAIN-DATA-TYPE DEM
DUMMY-NUM-DEM-FILES 1
DEM-FILENAME[0] los_angeles-w.dem
TERRAIN-DATA-BOUNDARY-CHECK YES
URBAN-TERRAIN-TYPE NONE
WEATHER-MOBILITY-INTERVAL 100MS
UNDERWATER-VISUALIZATION-ENABLED NO

#******************Channel Properties***********************************

PROPAGATION-CHANNEL-NAME[0] channel0
PROPAGATION-CHANNEL-FREQUENCY[0] 5000000000.000000
PROPAGATION-MODEL[0] STATISTICAL
PROPAGATION-PATHLOSS-MODEL[0] TWO-RAY
PROPAGATION-SHADOWING-MODEL[0] CONSTANT
PROPAGATION-SHADOWING-MEAN[0] 4.0
PROPAGATION-FADING-MODEL[0] NONE
PROPAGATION-ENABLE-CHANNEL-OVERLAP-CHECK[0] NO
PROPAGATION-SPEED[0] 3e8
PROPAGATION-LIMIT[0] -111.0
PROPAGATION-MAX-DISTANCE[0] 0
PROPAGATION-COMMUNICATION-PROXIMITY[0] 400
PROPAGATION-PROFILE-UPDATE-RATIO[0] 0.0
PROPAGATION-CHANNEL-NAME[1] channel1
PROPAGATION-CHANNEL-FREQUENCY[1] 5016000000.000000
PROPAGATION-MODEL[1] STATISTICAL
PROPAGATION-PATHLOSS-MODEL[1] TWO-RAY
PROPAGATION-SHADOWING-MODEL[1] CONSTANT
PROPAGATION-SHADOWING-MEAN[1] 4.0
PROPAGATION-FADING-MODEL[1] NONE
PROPAGATION-ENABLE-CHANNEL-OVERLAP-CHECK[1] NO
PROPAGATION-SPEED[1] 3e8
PROPAGATION-LIMIT[1] -111.0
PROPAGATION-MAX-DISTANCE[1] 0
PROPAGATION-COMMUNICATION-PROXIMITY[1] 400
PROPAGATION-PROFILE-UPDATE-RATIO[1] 0.0
PROPAGATION-CHANNEL-NAME[2] channel2
PROPAGATION-CHANNEL-FREQUENCY[2] 5032000000.000000
PROPAGATION-MODEL[2] STATISTICAL
PROPAGATION-PATHLOSS-MODEL[2] TWO-RAY
PROPAGATION-SHADOWING-MODEL[2] CONSTANT
PROPAGATION-SHADOWING-MEAN[2] 4.0
PROPAGATION-FADING-MODEL[2] NONE
PROPAGATION-ENABLE-CHANNEL-OVERLAP-CHECK[2] NO
PROPAGATION-SPEED[2] 3e8
PROPAGATION-LIMIT[2] -111.0
PROPAGATION-MAX-DISTANCE[2] 0
PROPAGATION-COMMUNICATION-PROXIMITY[2] 400
PROPAGATION-PROFILE-UPDATE-RATIO[2] 0.0
PROPAGATION-CHANNEL-NAME[3] channel3
PROPAGATION-CHANNEL-FREQUENCY[3] 5048000000.000000
PROPAGATION-MODEL[3] STATISTICAL
PROPAGATION-PATHLOSS-MODEL[3] TWO-RAY
PROPAGATION-SHADOWING-MODEL[3] CONSTANT
PROPAGATION-SHADOWING-MEAN[3] 4.0
PROPAGATION-FADING-MODEL[3] NONE
PROPAGATION-ENABLE-CHANNEL-OVERLAP-CHECK[3] NO
PROPAGATION-SPEED[3] 3e8
PROPAGATION-LIMIT[3] -111.0
PROPAGATION-MAX-DISTANCE[3] 0
PROPAGATION-COMMUNICATION-PROXIMITY[3] 400
PROPAGATION-PROFILE-UPDATE-RATIO[3] 0.0
PROPAGATION-CHANNEL-NAME[4] channel4
PROPAGATION-CHANNEL-FREQUENCY[4] 5064000000.000000
PROPAGATION-MODEL[4] STATISTICAL
PROPAGATION-PATHLOSS-MODEL[4] TWO-RAY
PROPAGATION-SHADOWING-MODEL[4] CONSTANT
PROPAGATION-SHADOWING-MEAN[4] 4.0
PROPAGATION-FADING-MODEL[4] NONE
PROPAGATION-ENABLE-CHANNEL-OVERLAP-CHECK[4] NO
PROPAGATION-SPEED[4] 3e8
PROPAGATION-LIMIT[4] -111.0
PROPAGATION-MAX-DISTANCE[4] 0
PROPAGATION-COMMUNICATION-PROXIMITY[4] 400
PROPAGATION-PROFILE-UPDATE-RATIO[4] 0.0
PROPAGATION-CHANNEL-NAME[5] channel5
PROPAGATION-CHANNEL-FREQUENCY[5] 5080000000.000000
PROPAGATION-MODEL[5] STATISTICAL
PROPAGATION-PATHLOSS-MODEL[5] TWO-RAY
PROPAGATION-SHADOWING-MODEL[5] CONSTANT
PROPAGATION-SHADOWING-MEAN[5] 4.0
PROPAGATION-FADING-MODEL[5] NONE
PROPAGATION-ENABLE-CHANNEL-OVERLAP-CHECK[5] NO
PROPAGATION-SPEED[5] 3e8
PROPAGATION-LIMIT[5] -111.0
PROPAGATION-MAX-DISTANCE[5] 0
PROPAGATION-COMMUNICATION-PROXIMITY[5] 400
PROPAGATION-PROFILE-UPDATE-RATIO[5] 0.0
PROPAGATION-CHANNEL-NAME[6] channel6
PROPAGATION-CHANNEL-FREQUENCY[6] 5096000000.000000
PROPAGATION-MODEL[6] STATISTICAL
PROPAGATION-PATHLOSS-MODEL[6] TWO-RAY
PROPAGATION-SHADOWING-MODEL[6] CONSTANT
PROPAGATION-SHADOWING-MEAN[6] 4.0
PROPAGATION-FADING-MODEL[6] NONE
PROPAGATION-ENABLE-CHANNEL-OVERLAP-CHECK[6] NO
PROPAGATION-SPEED[6] 3e8
PROPAGATION-LIMIT[6] -111.0
PROPAGATION-MAX-DISTANCE[6] 0
PROPAGATION-COMMUNICATION-PROXIMITY[6] 400
PROPAGATION-PROFILE-UPDATE-RATIO[6] 0.0
PROPAGATION-CHANNEL-NAME[7] channel7
PROPAGATION-CHANNEL-FREQUENCY[7] 5112000000.000000
PROPAGATION-MODEL[7] STATISTICAL
PROPAGATION-PATHLOSS-MODEL[7] TWO-RAY
PROPAGATION-SHADOWING-MODEL[7] CONSTANT
PROPAGATION-SHADOWING-MEAN[7] 4.0
PROPAGATION-FADING-MODEL[7] NONE
PROPAGATION-ENABLE-CHANNEL-OVERLAP-CHECK[7] NO
PROPAGATION-SPEED[7] 3e8
PROPAGATION-LIMIT[7] -111.0
PROPAGATION-MAX-DISTANCE[7] 0
PROPAGATION-COMMUNICATION-PROXIMITY[7] 400
PROPAGATION-PROFILE-UPDATE-RATIO[7] 0.0
PROPAGATION-CHANNEL-NAME[8] channel8
PROPAGATION-CHANNEL-FREQUENCY[8] 5128000000.000000
PROPAGATION-MODEL[8] STATISTICAL
PROPAGATION-PATHLOSS-MODEL[8] TWO-RAY
PROPAGATION-SHADOWING-MODEL[8] CONSTANT
PROPAGATION-SHADOWING-MEAN[8] 4.0
PROPAGATION-FADING-MODEL[8] NONE
PROPAGATION-ENABLE-CHANNEL-OVERLAP-CHECK[8] NO
PROPAGATION-SPEED[8] 3e8
PROPAGATION-LIMIT[8] -111.0
PROPAGATION-MAX-DISTANCE[8] 0
PROPAGATION-COMMUNICATION-PROXIMITY[8] 400
PROPAGATION-PROFILE-UPDATE-RATIO[8] 0.0
PROPAGATION-CHANNEL-NAME[9] channel9
PROPAGATION-CHANNEL-FREQUENCY[9] 5144000000.000000
PROPAGATION-MODEL[9] STATISTICAL
PROPAGATION-PATHLOSS-MODEL[9] TWO-RAY
PROPAGATION-SHADOWING-MODEL[9] CONSTANT
PROPAGATION-SHADOWING-MEAN[9] 4.0
PROPAGATION-FADING-MODEL[9] NONE
PROPAGATION-ENABLE-CHANNEL-OVERLAP-CHECK[9] NO
PROPAGATION-SPEED[9] 3e8
PROPAGATION-LIMIT[9] -111.0
PROPAGATION-MAX-DISTANCE[9] 0
PROPAGATION-COMMUNICATION-PROXIMITY[9] 400
PROPAGATION-PROFILE-UPDATE-RATIO[9] 0.0
PROPAGATION-CHANNEL-NAME[10] channel10
PROPAGATION-CHANNEL-FREQUENCY[10] 5160000000.000000
PROPAGATION-MODEL[10] STATISTICAL
PROPAGATION-PATHLOSS-MODEL[10] TWO-RAY
PROPAGATION-SHADOWING-MODEL[10] CONSTANT
PROPAGATION-SHADOWING-MEAN[10] 4.0
PROPAGATION-FADING-MODEL[10] NONE
PROPAGATION-ENABLE-CHANNEL-OVERLAP-CHECK[10] NO
PROPAGATION-SPEED[10] 3e8
PROPAGATION-LIMIT[10] -111.0
PROPAGATION-MAX-DISTANCE[10] 0
PROPAGATION-COMMUNICATION-PROXIMITY[10] 400
PROPAGATION-PROFILE-UPDATE-RATIO[10] 0.0
PROPAGATION-CHANNEL-NAME[11] channel11
PROPAGATION-CHANNEL-FREQUENCY[11] 5176000000.000000
PROPAGATION-MODEL[11] STATISTICAL
PROPAGATION-PATHLOSS-MODEL[11] TWO-RAY
PROPAGATION-SHADOWING-MODEL[11] CONSTANT
PROPAGATION-SHADOWING-MEAN[11] 4.0
PROPAGATION-FADING-MODEL[11] NONE
PROPAGATION-ENABLE-CHANNEL-OVERLAP-CHECK[11] NO
PROPAGATION-SPEED[11] 3e8
PROPAGATION-LIMIT[11] -111.0
PROPAGATION-MAX-DISTANCE[11] 0
PROPAGATION-COMMUNICATION-PROXIMITY[11] 400
PROPAGATION-PROFILE-UPDATE-RATIO[11] 0.0
PROPAGATION-CHANNEL-NAME[12] channel12
PROPAGATION-CHANNEL-FREQUENCY[12] 5192000000.000000
PROPAGATION-MODEL[12] STATISTICAL
PROPAGATION-PATHLOSS-MODEL[12] TWO-RAY
PROPAGATION-SHADOWING-MODEL[12] CONSTANT
PROPAGATION-SHADOWING-MEAN[12] 4.0
PROPAGATION-FADING-MODEL[12] NONE
PROPAGATION-ENABLE-CHANNEL-OVERLAP-CHECK[12] NO
PROPAGATION-SPEED[12] 3e8
PROPAGATION-LIMIT[12] -111.0
PROPAGATION-MAX-DISTANCE[12] 0
PROPAGATION-COMMUNICATION-PROXIMITY[12] 400
PROPAGATION-PROFILE-UPDATE-RATIO[12] 0.0
PROPAGATION-CHANNEL-NAME[13] channel13
PROPAGATION-CHANNEL-FREQUENCY[13] 5208000000.000000
PROPAGATION-MODEL[13] STATISTICAL
PROPAGATION-PATHLOSS-MODEL[13] TWO-RAY
PROPAGATION-SHADOWING-MODEL[13] CONSTANT
PROPAGATION-SHADOWING-MEAN[13] 4.0
PROPAGATION-FADING-MODEL[13] NONE
PROPAGATION-ENABLE-CHANNEL-OVERLAP-CHECK[13] NO
PROPAGATION-SPEED[13] 3e8
PROPAGATION-LIMIT[13] -111.0
PROPAGATION-MAX-DISTANCE[13] 0
PROPAGATION-COMMUNICATION-PROXIMITY[13] 400
PROPAGATION-PROFILE-UPDATE-RATIO[13] 0.0
PROPAGATION-CHANNEL-NAME[14] channel14
PROPAGATION-CHANNEL-FREQUENCY[14] 4224000000.000000
PROPAGATION-MODEL[14] STATISTICAL
PROPAGATION-PATHLOSS-MODEL[14] TWO-RAY
PROPAGATION-SHADOWING-MODEL[14] CONSTANT
PROPAGATION-SHADOWING-MEAN[14] 4.0
PROPAGATION-FADING-MODEL[14] NONE
PROPAGATION-ENABLE-CHANNEL-OVERLAP-CHECK[14] NO
PROPAGATION-SPEED[14] 3e8
PROPAGATION-LIMIT[14] -111.0
PROPAGATION-MAX-DISTANCE[14] 0
PROPAGATION-COMMUNICATION-PROXIMITY[14] 400
PROPAGATION-PROFILE-UPDATE-RATIO[14] 0.0
PROPAGATION-CHANNEL-NAME[15] channel15
PROPAGATION-CHANNEL-FREQUENCY[15] 5240000000.000000
PROPAGATION-MODEL[15] STATISTICAL
PROPAGATION-PATHLOSS-MODEL[15] TWO-RAY
PROPAGATION-SHADOWING-MODEL[15] CONSTANT
PROPAGATION-SHADOWING-MEAN[15] 4.0
PROPAGATION-FADING-MODEL[15] NONE
PROPAGATION-ENABLE-CHANNEL-OVERLAP-CHECK[15] NO
PROPAGATION-SPEED[15] 3e8
PROPAGATION-LIMIT[15] -111.0
PROPAGATION-MAX-DISTANCE[15] 0
PROPAGATION-COMMUNICATION-PROXIMITY[15] 400
PROPAGATION-PROFILE-UPDATE-RATIO[15] 0.0
PROPAGATION-CHANNEL-NAME[16] channel16
PROPAGATION-CHANNEL-FREQUENCY[16] 5256000000.000000
PROPAGATION-MODEL[16] STATISTICAL
PROPAGATION-PATHLOSS-MODEL[16] TWO-RAY
PROPAGATION-SHADOWING-MODEL[16] CONSTANT
PROPAGATION-SHADOWING-MEAN[16] 4.0
PROPAGATION-FADING-MODEL[16] NONE
PROPAGATION-ENABLE-CHANNEL-OVERLAP-CHECK[16] NO
PROPAGATION-SPEED[16] 3e8
PROPAGATION-LIMIT[16] -111.0
PROPAGATION-MAX-DISTANCE[16] 0
PROPAGATION-COMMUNICATION-PROXIMITY[16] 400
PROPAGATION-PROFILE-UPDATE-RATIO[16] 0.0
PROPAGATION-CHANNEL-NAME[17] channel17
PROPAGATION-CHANNEL-FREQUENCY[17] 5272000000.000000
PROPAGATION-MODEL[17] STATISTICAL
PROPAGATION-PATHLOSS-MODEL[17] TWO-RAY
PROPAGATION-SHADOWING-MODEL[17] CONSTANT
PROPAGATION-SHADOWING-MEAN[17] 4.0
PROPAGATION-FADING-MODEL[17] NONE
PROPAGATION-ENABLE-CHANNEL-OVERLAP-CHECK[17] NO
PROPAGATION-SPEED[17] 3e8
PROPAGATION-LIMIT[17] -111.0
PROPAGATION-MAX-DISTANCE[17] 0
PROPAGATION-COMMUNICATION-PROXIMITY[17] 400
PROPAGATION-PROFILE-UPDATE-RATIO[17] 0.0
PROPAGATION-CHANNEL-NAME[18] channel18
PROPAGATION-CHANNEL-FREQUENCY[18] 5288000000.000000
PROPAGATION-MODEL[18] STATISTICAL
PROPAGATION-PATHLOSS-MODEL[18] TWO-RAY
PROPAGATION-SHADOWING-MODEL[18] CONSTANT
PROPAGATION-SHADOWING-MEAN[18] 4.0
PROPAGATION-FADING-MODEL[18] NONE
PROPAGATION-ENABLE-CHANNEL-OVERLAP-CHECK[18] NO
PROPAGATION-SPEED[18] 3e8
PROPAGATION-LIMIT[18] -111.0
PROPAGATION-MAX-DISTANCE[18] 0
PROPAGATION-COMMUNICATION-PROXIMITY[18] 400
PROPAGATION-PROFILE-UPDATE-RATIO[18] 0.0
PROPAGATION-CHANNEL-NAME[19] channel19
PROPAGATION-CHANNEL-FREQUENCY[19] 5304000000.000000
PROPAGATION-MODEL[19] STATISTICAL
PROPAGATION-PATHLOSS-MODEL[19] TWO-RAY
PROPAGATION-SHADOWING-MODEL[19] CONSTANT
PROPAGATION-SHADOWING-MEAN[19] 4.0
PROPAGATION-FADING-MODEL[19] NONE
PROPAGATION-ENABLE-CHANNEL-OVERLAP-CHECK[19] NO
PROPAGATION-SPEED[19] 3e8
PROPAGATION-LIMIT[19] -111.0
PROPAGATION-MAX-DISTANCE[19] 0
PROPAGATION-COMMUNICATION-PROXIMITY[19] 400
PROPAGATION-PROFILE-UPDATE-RATIO[19] 0.0
PROPAGATION-CHANNEL-NAME[20] channel20
PROPAGATION-CHANNEL-FREQUENCY[20] 5320000000.000000
PROPAGATION-MODEL[20] STATISTICAL
PROPAGATION-PATHLOSS-MODEL[20] TWO-RAY
PROPAGATION-SHADOWING-MODEL[20] CONSTANT
PROPAGATION-SHADOWING-MEAN[20] 4.0
PROPAGATION-FADING-MODEL[20] NONE
PROPAGATION-ENABLE-CHANNEL-OVERLAP-CHECK[20] NO
PROPAGATION-SPEED[20] 3e8
PROPAGATION-LIMIT[20] -111.0
PROPAGATION-MAX-DISTANCE[20] 0
PROPAGATION-COMMUNICATION-PROXIMITY[20] 400
PROPAGATION-PROFILE-UPDATE-RATIO[20] 0.0
PROPAGATION-CHANNEL-NAME[21] channel21
PROPAGATION-CHANNEL-FREQUENCY[21] 5336000000.000000
PROPAGATION-MODEL[21] STATISTICAL
PROPAGATION-PATHLOSS-MODEL[21] TWO-RAY
PROPAGATION-SHADOWING-MODEL[21] CONSTANT
PROPAGATION-SHADOWING-MEAN[21] 4.0
PROPAGATION-FADING-MODEL[21] NONE
PROPAGATION-ENABLE-CHANNEL-OVERLAP-CHECK[21] NO
PROPAGATION-SPEED[21] 3e8
PROPAGATION-LIMIT[21] -111.0
PROPAGATION-MAX-DISTANCE[21] 0
PROPAGATION-COMMUNICATION-PROXIMITY[21] 400
PROPAGATION-PROFILE-UPDATE-RATIO[21] 0.0
PROPAGATION-CHANNEL-NAME[22] channel22
PROPAGATION-CHANNEL-FREQUENCY[22] 5352000000.000000
PROPAGATION-MODEL[22] STATISTICAL
PROPAGATION-PATHLOSS-MODEL[22] TWO-RAY
PROPAGATION-SHADOWING-MODEL[22] CONSTANT
PROPAGATION-SHADOWING-MEAN[22] 4.0
PROPAGATION-FADING-MODEL[22] NONE
PROPAGATION-ENABLE-CHANNEL-OVERLAP-CHECK[22] NO
PROPAGATION-SPEED[22] 3e8
PROPAGATION-LIMIT[22] -111.0
PROPAGATION-MAX-DISTANCE[22] 0
PROPAGATION-COMMUNICATION-PROXIMITY[22] 400
PROPAGATION-PROFILE-UPDATE-RATIO[22] 0.0
PROPAGATION-CHANNEL-NAME[23] channel23
PROPAGATION-CHANNEL-FREQUENCY[23] 5368000000.000000
PROPAGATION-MODEL[23] STATISTICAL
PROPAGATION-PATHLOSS-MODEL[23] TWO-RAY
PROPAGATION-SHADOWING-MODEL[23] CONSTANT
PROPAGATION-SHADOWING-MEAN[23] 4.0
PROPAGATION-FADING-MODEL[23] NONE
PROPAGATION-ENABLE-CHANNEL-OVERLAP-CHECK[23] NO
PROPAGATION-SPEED[23] 3e8
PROPAGATION-LIMIT[23] -111.0
PROPAGATION-MAX-DISTANCE[23] 0
PROPAGATION-COMMUNICATION-PROXIMITY[23] 400
PROPAGATION-PROFILE-UPDATE-RATIO[23] 0.0
PROPAGATION-CHANNEL-NAME[24] channel24
PROPAGATION-CHANNEL-FREQUENCY[24] 5384000000.000000
PROPAGATION-MODEL[24] STATISTICAL
PROPAGATION-PATHLOSS-MODEL[24] TWO-RAY
PROPAGATION-SHADOWING-MODEL[24] CONSTANT
PROPAGATION-SHADOWING-MEAN[24] 4.0
PROPAGATION-FADING-MODEL[24] NONE
PROPAGATION-ENABLE-CHANNEL-OVERLAP-CHECK[24] NO
PROPAGATION-SPEED[24] 3e8
PROPAGATION-LIMIT[24] -111.0
PROPAGATION-MAX-DISTANCE[24] 0
PROPAGATION-COMMUNICATION-PROXIMITY[24] 400
PROPAGATION-PROFILE-UPDATE-RATIO[24] 0.0
DUMMY-MIMO-PARAMETERS NO

#**************Mobility and Placement***********************************

NODE-PLACEMENT FILE
MOBILITY NONE
MOBILITY-GROUND-NODE NO

#*******************************CYBER***********************************


#*********************************GSM***********************************

GSM-TOTAL-NUMBER-OF-CHANNELS 1
GSM-CHANNEL-FREQUENCY[0] 116000000.000000

#*********************************LTE***********************************

PHY-LTE-PERFORMANCE-MODE 0

#**********************************5G***********************************

PHY-NR-PERFORMANCE-MODE 1

#**************************STATISTICS***********************************

PHY-LAYER-STATISTICS YES
MAC-LAYER-STATISTICS YES
ACCESS-LIST-STATISTICS NO
ARP-STATISTICS NO
ROUTING-STATISTICS YES
POLICY-ROUTING-STATISTICS NO
QOSPF-STATISTICS NO
ROUTE-REDISTRIBUTION-STATISTICS NO
EXTERIOR-GATEWAY-PROTOCOL-STATISTICS YES
MULTICAST-MSDP-STATISTICS NO
NETWORK-LAYER-STATISTICS YES
INPUT-QUEUE-STATISTICS NO
INPUT-SCHEDULER-STATISTICS NO
QUEUE-STATISTICS YES
SCHEDULER-STATISTICS NO
SCHEDULER-GRAPH-STATISTICS NO
DIFFSERV-EDGE-ROUTER-STATISTICS NO
ICMP-STATISTICS NO
ICMP-ERROR-STATISTICS NO
IGMP-STATISTICS NO
NDP-STATISTICS NO
MOBILE-IP-STATISTICS NO
TCP-STATISTICS YES
UDP-STATISTICS YES
MDP-STATISTICS NO
RSVP-STATISTICS NO
RTP-STATISTICS NO
APPLICATION-STATISTICS YES
BATTERY-MODEL-STATISTICS NO
ENERGY-MODEL-STATISTICS YES
CELLULAR-STATISTICS YES
GSM-STATISTICS NO
VOIP-SIGNALLING-STATISTICS NO
SWITCH-PORT-STATISTICS NO
SWITCH-SCHEDULER-STATISTICS NO
SWITCH-QUEUE-STATISTICS NO
MPLS-STATISTICS NO
MPLS-LDP-STATISTICS NO
HOST-STATISTICS NO
JAMMER-STATISTICS NO
DHCP-STATISTICS NO
DNS-STATISTICS NO
PHY-LTE-CA-STATS NO
PHY-NR-CA-STATS NO
HOSTMODEL-STATISTICS NO

#**********************PACKET TRACING***********************************

PACKET-TRACE NO
ACCESS-LIST-TRACE NO

#*****************Statistics Database***********************************

STATS-DB-COLLECTION NO

#******************Supplemental Files***********************************

APP-CONFIG-FILE waveonlinedefine-spma-32.app
DUMMY-TRAFFIC-PATTERN-FILE-NUMBER 0

#***********************AGI Interface***********************************

AGI-INTERFACE NO

#********************Socket Interface***********************************

SOCKET-INTERFACE NO

#*******************VR-Link Interface***********************************

VRLINK NO

#**********************Physical Layer***********************************

PHY-LISTENABLE-CHANNELS channel0
PHY-LISTENING-CHANNELS channel0
PHY-MODEL PHY802.11b
PHY802.11-AUTO-RATE-FALLBACK NO
PHY802.11-DATA-RATE 2000000
PHY802.11-FREQUENCY-BAND 2400000000
PHY802.11-COUNTRY-CODE US
PHY802.11-20MHz-CHANNEL-INDEX 6
PHY802.11-TX-POWER-1MBPS 15.0
PHY802.11-TX-POWER-2MBPS 15.0
PHY802.11-TX-POWER-5.5MBPS 15.0
PHY802.11-TX-POWER-11MBPS 15.0
PHY802.11-USE-LEGACY-802.11b NO
PHY802.11-RX-SENSITIVITY-1MBPS -82.0
PHY802.11-RX-SENSITIVITY-2MBPS -80.0
PHY802.11-RX-SENSITIVITY-5.5MBPS -78.0
PHY802.11-RX-SENSITIVITY-11MBPS -76.0
PHY802.11-ESTIMATED-DIRECTIONAL-ANTENNA-GAIN 15.0
PHY-RX-MODEL PHY802.11b
DUMMY-ANTENNA-MODEL-CONFIG-FILE-SPECIFY NO
ANTENNA-MODEL OMNIDIRECTIONAL
ANTENNA-GAIN 0.0
ANTENNA-HEIGHT 1.5
ANTENNA-EFFICIENCY 0.8
ANTENNA-MISMATCH-LOSS 0.3
ANTENNA-CABLE-LOSS 0.0
ANTENNA-CONNECTION-LOSS 0.2
ANTENNA-ORIENTATION-AZIMUTH 0
ANTENNA-ORIENTATION-ELEVATION 0
ANTENNA-ORIENTATION-ROLL 0
PHY-TEMPERATURE 290.0
PHY-NOISE-FACTOR 10.0
ENERGY-MODEL-SPECIFICATION NONE

#***************************MAC Layer***********************************

LINK-MAC-PROTOCOL ABSTRACT
LINK-PROPAGATION-DELAY 1MS
LINK-BANDWIDTH 10000000.000000
LINK-HEADER-SIZE-IN-BITS 224
LINK-DROP-PROBABILITY 0
LINK-TX-FREQUENCY 13170000000.000000
LINK-RX-FREQUENCY 13170000000.000000
LINK-TX-ANTENNA-HEIGHT 30
LINK-RX-ANTENNA-HEIGHT 30
LINK-TX-ANTENNA-DISH-DIAMETER 0.8
LINK-RX-ANTENNA-DISH-DIAMETER 0.8
LINK-TX-ANTENNA-CABLE-LOSS 1.5
LINK-RX-ANTENNA-CABLE-LOSS 1.5
LINK-TX-POWER 30
LINK-RX-SENSITIVITY -80
LINK-NOISE-TEMPERATURE 290
LINK-NOISE-FACTOR 4
LINK-TERRAIN-TYPE PLAINS
LINK-PROPAGATION-RAIN-INTENSITY 0
LINK-PROPAGATION-TEMPERATURE 25
LINK-PROPAGATION-SAMPLING-DISTANCE 100
LINK-PROPAGATION-CLIMATE 1
LINK-PROPAGATION-REFRACTIVITY 360
LINK-PROPAGATION-PERMITTIVITY 15
LINK-PROPAGATION-CONDUCTIVITY 0.005
LINK-PROPAGATION-HUMIDITY 50
LINK-PERCENTAGE-TIME-REFRACTIVITY-GRADIENT-LESS-STANDARD 15
MAC-PROTOCOL MACDOT11
MAC-DOT11-SHORT-PACKET-TRANSMIT-LIMIT 7
MAC-DOT11-LONG-PACKET-TRANSMIT-LIMIT 4
MAC-DOT11-RTS-THRESHOLD 0
MAC-DOT11-STOP-RECEIVING-AFTER-HEADER-MODE NO
MAC-DOT11-ASSOCIATION NONE
MAC-DOT11-IBSS-SUPPORT-PS-MODE NO
MAC-DOT11-DIRECTIONAL-ANTENNA-MODE NO
MAC-SECURITY-PROTOCOL NO
WORMHOLE-VICTIM-COUNT-TURNAROUND-TIME NO
MAC-PROPAGATION-DELAY 1US

#***************Schedulers and Queues***********************************

IP-QUEUE-PRIORITY-INPUT-QUEUE-SIZE 150000
IP-QUEUE-SCHEDULER STRICT-PRIORITY
IP-QUEUE-NUM-PRIORITIES 3

#*******************QoS Configuration***********************************


#****************Fixed Communications***********************************

FIXED-COMMS-DROP-PROBABILITY 0.0

#******************MSDP Configuration***********************************


#************************ROUTER MODEL***********************************

DUMMY-ROUTER-TYPE USER-SPECIFIED

#***********************NETWORK LAYER***********************************

NETWORK-PROTOCOL IP
IP-ENABLE-LOOPBACK YES
IP-LOOPBACK-NUM-INTERFACES 1
IP-FRAGMENT-HOLD-TIME 60S
IP-FRAGMENTATION-UNIT 2048
ECN NO
ICMP YES
ICMP-ROUTER-ADVERTISEMENT-LIFE-TIME 1800S
ICMP-ROUTER-ADVERTISEMENT-MIN-INTERVAL 450S
ICMP-ROUTER-ADVERTISEMENT-MAX-INTERVAL 600S
ICMP-MAX-NUM-SOLICITATION 3
MOBILE-IP NO

#********************ROUTING PROTOCOL***********************************

ROUTING-PROTOCOL-IPv4 BELLMANFORD
STATIC-ROUTE NO
DEFAULT-ROUTE NO
DUMMY-MULTICAST NO

#*******************BGP Configuration***********************************

DUMMY-BGP-ENABLE-ROUTER-ID NO

#***************************TRANSPORT***********************************

TRANSPORT-PROTOCOL-RSVP YES
GUI_DUMMY_CONFIG_TCP YES
TCP NEWRENO
TCP-USE-RFC1323 YES
TCP-USE-RFC3042 YES
TCP-USE-RFC3390 YES
TCP-USE-RFC3465 YES
TCP-USE-NAGLE-ALGORITHM YES
TCP-DO-ECN NO
TCP-ECN-MAX-RETRIES 1
TCP-SACK-PERMITTED YES
TCP-MAX-SACK-HOLES 128
TCP-DROP-SYNFIN NO
TCP-DO-INSECURE-RST NO
TCP-DO-INSECURE-SYN NO
TCP-USE-PUSH YES
TCP-TIMER-JITTER YES
TCP-MSS 536
TCP6-MSS 1220
TCP-INITCWND-SEGMENTS 10
TCP-SYNCACHE-HASHSIZE 512
TCP-SYNCACHE-BUCKETLIMIT 30
TCP-SYNCACHE-CACHELIMIT 15360
TCP-DELAY-ACKS YES
TCP-MSL 1MS
TCP-SEND-BUFFER 16384
TCP-RECEIVE-BUFFER 16384

#**************************MPLS Specs***********************************

MPLS-PROTOCOL NO

#*******************Application Layer***********************************

RTP-ENABLED NO
MDP-ENABLED NO
EMULATED-FTP-ENABLED YES
EMULATED-HTTP-ENABLED YES
EMULATED-TELNET-ENABLED YES

#***************************LTE Layer***********************************

IS-SGW NO
IS-PGW NO
IS-GNB NO

#*****************************FIVE_GC***********************************


#**********************Battery Models***********************************

BATTERY-MODEL NONE

#*******************OS Resource Model***********************************

OS-RESOURCE-MODEL NO

#*****************Adaptation Protocol***********************************

ADAPTATION-PROTOCOL AAL5
ATM-CONNECTION-REFRESH-TIME 5M
ATM-CONNECTION-TIMEOUT-TIME 1M
IP-QUEUE-PRIORITY-QUEUE-SIZE 150000
IP-QUEUE-TYPE FIFO


# ***** Advanced Emulation Data *****



# ***** Virtual Node Data *****


#***************** [Wireless Subnet] ***********************************

SUBNET N8-192.168.1.0 {1 thru 32} SUBNET-UUID SUB2 34.001 -120 0

#***************************MAC Layer***********************************

[ N8-192.168.1.0 ] MAC-PROTOCOL MACDOT11
[ N8-192.168.1.0 ] MAC-DOT11-SHORT-PACKET-TRANSMIT-LIMIT 7
[ N8-192.168.1.0 ] MAC-DOT11-LONG-PACKET-TRANSMIT-LIMIT 4
[ N8-192.168.1.0 ] MAC-DOT11-RTS-THRESHOLD 0
[ N8-192.168.1.0 ] MAC-DOT11-STOP-RECEIVING-AFTER-HEADER-MODE NO
[ N8-192.168.1.0 ] MAC-DOT11-ASSOCIATION NONE
[ N8-192.168.1.0 ] MAC-DOT11-IBSS-SUPPORT-PS-MODE NO
[ N8-192.168.1.0 ] MAC-DOT11-DIRECTIONAL-ANTENNA-MODE NO
[ N8-192.168.1.0 ] MAC-SECURITY-PROTOCOL NO
[ N8-192.168.1.0 ] WORMHOLE-VICTIM-COUNT-TURNAROUND-TIME NO

#***********************NETWORK LAYER***********************************

[ N8-192.168.1.0 ] IP-FRAGMENT-HOLD-TIME 60S



#********* [Default Wireless Subnet] ***********************************


#*************Interface Configuration***********************************

[1] NETWORK-PROTOCOL[0]       IP
[SUB2/1/0] IP-ADDRESS         192.168.1.1

[2] NETWORK-PROTOCOL[0]       IP
[SUB2/2/0] IP-ADDRESS         192.168.1.2

[3] NETWORK-PROTOCOL[0]       IP
[SUB2/3/0] IP-ADDRESS         192.168.1.3

[4] NETWORK-PROTOCOL[0]       IP
[SUB2/4/0] IP-ADDRESS         192.168.1.4

[5] NETWORK-PROTOCOL[0]       IP
[SUB2/5/0] IP-ADDRESS         192.168.1.5

[6] NETWORK-PROTOCOL[0]       IP
[SUB2/6/0] IP-ADDRESS         192.168.1.6

[7] NETWORK-PROTOCOL[0]       IP
[SUB2/7/0] IP-ADDRESS         192.168.1.7

[8] NETWORK-PROTOCOL[0]       IP
[SUB2/8/0] IP-ADDRESS         192.168.1.8

[9] NETWORK-PROTOCOL[0]       IP
[SUB2/9/0] IP-ADDRESS         192.168.1.9

[10] NETWORK-PROTOCOL[0]      IP
[SUB2/10/0] IP-ADDRESS        192.168.1.10

[11] NETWORK-PROTOCOL[0]      IP
[SUB2/11/0] IP-ADDRESS        192.168.1.11

[12] NETWORK-PROTOCOL[0]      IP
[SUB2/12/0] IP-ADDRESS        192.168.1.12

[13] NETWORK-PROTOCOL[0]      IP
[SUB2/13/0] IP-ADDRESS        192.168.1.13

[14] NETWORK-PROTOCOL[0]      IP
[SUB2/14/0] IP-ADDRESS        192.168.1.14

[15] NETWORK-PROTOCOL[0]      IP
[SUB2/15/0] IP-ADDRESS        192.168.1.15

[16] NETWORK-PROTOCOL[0]      IP
[SUB2/16/0] IP-ADDRESS        192.168.1.16

[17] NETWORK-PROTOCOL[0]      IP
[SUB2/17/0] IP-ADDRESS        192.168.1.17

[18] NETWORK-PROTOCOL[0]      IP
[SUB2/18/0] IP-ADDRESS        192.168.1.18

[19] NETWORK-PROTOCOL[0]      IP
[SUB2/19/0] IP-ADDRESS        192.168.1.19

[20] NETWORK-PROTOCOL[0]      IP
[SUB2/20/0] IP-ADDRESS        192.168.1.20

[21] NETWORK-PROTOCOL[0]      IP
[SUB2/21/0] IP-ADDRESS        192.168.1.21

[22] NETWORK-PROTOCOL[0]      IP
[SUB2/22/0] IP-ADDRESS        192.168.1.22

[23] NETWORK-PROTOCOL[0]      IP
[SUB2/23/0] IP-ADDRESS        192.168.1.23

[24] NETWORK-PROTOCOL[0]      IP
[SUB2/24/0] IP-ADDRESS        192.168.1.24

[25] NETWORK-PROTOCOL[0]      IP
[SUB2/25/0] IP-ADDRESS        192.168.1.25

[26] NETWORK-PROTOCOL[0]      IP
[SUB2/26/0] IP-ADDRESS        192.168.1.26

[27] NETWORK-PROTOCOL[0]      IP
[SUB2/27/0] IP-ADDRESS        192.168.1.27

[28] NETWORK-PROTOCOL[0]      IP
[SUB2/28/0] IP-ADDRESS        192.168.1.28

[29] NETWORK-PROTOCOL[0]      IP
[SUB2/29/0] IP-ADDRESS        192.168.1.29

[30] NETWORK-PROTOCOL[0]      IP
[SUB2/30/0] IP-ADDRESS        192.168.1.30

[31] NETWORK-PROTOCOL[0]      IP
[SUB2/31/0] IP-ADDRESS        192.168.1.31

[32] NETWORK-PROTOCOL[0]      IP
[SUB2/32/0] IP-ADDRESS        192.168.1.32

[SUB2/1/0] IP-QUEUE-PRIORITY-QUEUE-MAX-AGE[3]  0S
[SUB2/1/0 SUB2/2/0 SUB2/3/0 SUB2/4/0 SUB2/5/0 SUB2/6/0 SUB2/7/0 SUB2/8/0 SUB2/9/0 SUB2/10/0 SUB2/11/0 SUB2/12/0 SUB2/13/0 SUB2/14/0 SUB2/15/0 SUB2/16/0 SUB2/17/0 SUB2/18/0 SUB2/19/0 SUB2/20/0 SUB2/21/0 SUB2/22/0 SUB2/23/0 SUB2/24/0 SUB2/25/0 SUB2/26/0 SUB2/27/0 SUB2/28/0 SUB2/29/0 SUB2/30/0 SUB2/31/0 SUB2/32/0] MAC-PROTOCOL  SPMA
[SUB2/1/0] ANTENNA-ORIENTATION-ROLL  0
[SUB2/1/0] ANTENNA-ORIENTATION-AZIMUTH  0
[SUB2/1/0] IP-QUEUE-TYPE[7]  FIFO
[SUB2/1/0 SUB2/2/0 SUB2/3/0 SUB2/4/0 SUB2/5/0 SUB2/6/0 SUB2/7/0 SUB2/8/0 SUB2/9/0 SUB2/10/0 SUB2/11/0 SUB2/12/0 SUB2/13/0 SUB2/14/0 SUB2/15/0 SUB2/16/0 SUB2/17/0 SUB2/18/0 SUB2/19/0 SUB2/20/0 SUB2/21/0 SUB2/22/0 SUB2/23/0 SUB2/24/0 SUB2/25/0 SUB2/26/0 SUB2/27/0 SUB2/28/0 SUB2/29/0 SUB2/30/0 SUB2/31/0 SUB2/32/0] PHY-MULTICHANNEL-RX-THRESHOLD  -81.0
[SUB2/1/0] ANTENNA-MODEL  OMNIDIRECTIONAL
[SUB2/1/0 SUB2/2/0 SUB2/3/0 SUB2/4/0 SUB2/5/0 SUB2/6/0 SUB2/7/0 SUB2/8/0 SUB2/9/0 SUB2/10/0 SUB2/11/0 SUB2/12/0 SUB2/13/0 SUB2/14/0 SUB2/15/0 SUB2/16/0 SUB2/17/0 SUB2/18/0 SUB2/19/0 SUB2/20/0 SUB2/21/0 SUB2/22/0 SUB2/23/0 SUB2/24/0 SUB2/25/0 SUB2/26/0 SUB2/27/0 SUB2/28/0 SUB2/29/0 SUB2/30/0 SUB2/31/0 SUB2/32/0] ROUTING-PROTOCOL-IPv4  AODV
[SUB2/1/0 SUB2/2/0 SUB2/3/0 SUB2/4/0 SUB2/5/0 SUB2/6/0 SUB2/7/0 SUB2/8/0 SUB2/9/0 SUB2/10/0 SUB2/11/0 SUB2/12/0 SUB2/13/0 SUB2/14/0 SUB2/15/0 SUB2/16/0 SUB2/17/0 SUB2/18/0 SUB2/19/0 SUB2/20/0 SUB2/21/0 SUB2/22/0 SUB2/23/0 SUB2/24/0 SUB2/25/0 SUB2/26/0 SUB2/27/0 SUB2/28/0 SUB2/29/0 SUB2/30/0 SUB2/31/0 SUB2/32/0] AODV-ACTIVE-ROUTE-TIMEOUT-IPv4  12S
[SUB2/1/0 SUB2/2/0 SUB2/3/0 SUB2/4/0 SUB2/5/0 SUB2/6/0 SUB2/7/0 SUB2/8/0 SUB2/9/0 SUB2/10/0 SUB2/11/0 SUB2/12/0 SUB2/13/0 SUB2/14/0 SUB2/15/0 SUB2/16/0 SUB2/17/0 SUB2/18/0 SUB2/19/0 SUB2/20/0 SUB2/21/0 SUB2/22/0 SUB2/23/0 SUB2/24/0 SUB2/25/0 SUB2/26/0 SUB2/27/0 SUB2/28/0 SUB2/29/0 SUB2/30/0 SUB2/31/0 SUB2/32/0] AODV-MY-ROUTE-TIMEOUT-IPv4  24S
[SUB2/1/0] IP-QUEUE-TYPE[3]  FIFO
[SUB2/1/0 SUB2/2/0 SUB2/3/0 SUB2/4/0 SUB2/5/0 SUB2/6/0 SUB2/7/0 SUB2/8/0 SUB2/9/0 SUB2/10/0 SUB2/11/0 SUB2/12/0 SUB2/13/0 SUB2/14/0 SUB2/15/0 SUB2/16/0 SUB2/17/0 SUB2/18/0 SUB2/19/0 SUB2/20/0 SUB2/21/0 SUB2/22/0 SUB2/23/0 SUB2/24/0 SUB2/25/0 SUB2/26/0 SUB2/27/0 SUB2/28/0 SUB2/29/0 SUB2/30/0 SUB2/31/0 SUB2/32/0] PHY-LISTENING-CHANNELS  channel0,channel1,channel2,channel3,channel4,channel5,channel6,channel7,channel8,channel9,channel10,channel11,channel12,channel13,channel14,channel15,channel16,channel17,channel18,channel19,channel20,channel21,channel22,channel23,channel24
[SUB2/1/0 SUB2/2/0 SUB2/3/0 SUB2/4/0 SUB2/5/0 SUB2/6/0 SUB2/7/0 SUB2/8/0 SUB2/9/0 SUB2/10/0 SUB2/11/0 SUB2/12/0 SUB2/13/0 SUB2/14/0 SUB2/15/0 SUB2/16/0 SUB2/17/0 SUB2/18/0 SUB2/19/0 SUB2/20/0 SUB2/21/0 SUB2/22/0 SUB2/23/0 SUB2/24/0 SUB2/25/0 SUB2/26/0 SUB2/27/0 SUB2/28/0 SUB2/29/0 SUB2/30/0 SUB2/31/0 SUB2/32/0] PHY-RX-SNR-THRESHOLD  10.0
[SUB2/1/0] IP-QUEUE-PRIORITY-INPUT-QUEUE-SIZE  300000000
[SUB2/1/0] IP-QUEUE-PRIORITY-QUEUE-SIZE[4]  15000000
[SUB2/1/0 SUB2/2/0 SUB2/3/0 SUB2/4/0 SUB2/5/0 SUB2/6/0 SUB2/7/0 SUB2/8/0 SUB2/9/0 SUB2/10/0 SUB2/11/0 SUB2/12/0 SUB2/13/0 SUB2/14/0 SUB2/15/0 SUB2/16/0 SUB2/17/0 SUB2/18/0 SUB2/19/0 SUB2/20/0 SUB2/21/0 SUB2/22/0 SUB2/23/0 SUB2/24/0 SUB2/25/0 SUB2/26/0 SUB2/27/0 SUB2/28/0 SUB2/29/0 SUB2/30/0 SUB2/31/0 SUB2/32/0] PHY-MULTICHANNEL-BANDWIDTH  16000000.000000
[SUB2/1/0] IP-QUEUE-PRIORITY-QUEUE-MAX-AGE[2]  0S
[SUB2/1/0] IP-QUEUE-TYPE[4]  FIFO
[SUB2/1/0] IP-QUEUE-PRIORITY-QUEUE-SIZE[5]  15000000
[SUB2/1/0] IP-QUEUE-PRIORITY-QUEUE-MAX-AGE[6]  0S
[SUB2/1/0] IP-QUEUE-PRIORITY-QUEUE-MAX-AGE[0]  0S
[SUB2/1/0] IP-QUEUE-PRIORITY-QUEUE-SIZE[6]  15000000
[SUB2/1/0] IP-QUEUE-TYPE[6]  FIFO
[SUB2/1/0] IP-QUEUE-PRIORITY-QUEUE-MAX-AGE[7]  0S
[SUB2/1/0] ANTENNA-EFFICIENCY  0.8
[SUB2/1/0] IP-QUEUE-PRIORITY-QUEUE-SIZE[0]  15000000
[SUB2/1/0 SUB2/2/0 SUB2/3/0 SUB2/4/0 SUB2/5/0 SUB2/6/0 SUB2/7/0 SUB2/8/0 SUB2/9/0 SUB2/10/0 SUB2/11/0 SUB2/12/0 SUB2/13/0 SUB2/14/0 SUB2/15/0 SUB2/16/0 SUB2/17/0 SUB2/18/0 SUB2/19/0 SUB2/20/0 SUB2/21/0 SUB2/22/0 SUB2/23/0 SUB2/24/0 SUB2/25/0 SUB2/26/0 SUB2/27/0 SUB2/28/0 SUB2/29/0 SUB2/30/0 SUB2/31/0 SUB2/32/0] PHY-MULTICHANNEL-DATA-RATE  16000000.000000
[SUB2/1/0 SUB2/2/0 SUB2/3/0 SUB2/4/0 SUB2/5/0 SUB2/6/0 SUB2/7/0 SUB2/8/0 SUB2/9/0 SUB2/10/0 SUB2/11/0 SUB2/12/0 SUB2/13/0 SUB2/14/0 SUB2/15/0 SUB2/16/0 SUB2/17/0 SUB2/18/0 SUB2/19/0 SUB2/20/0 SUB2/21/0 SUB2/22/0 SUB2/23/0 SUB2/24/0 SUB2/25/0 SUB2/26/0 SUB2/27/0 SUB2/28/0 SUB2/29/0 SUB2/30/0 SUB2/31/0 SUB2/32/0] PHY-MULTICHANNEL-RX-SENSITIVITY  -91.0
[SUB2/1/0] IP-QUEUE-PRIORITY-QUEUE-SIZE[1]  15000000
[SUB2/1/0] IP-QUEUE-TYPE[1]  FIFO
[SUB2/1/0] IP-QUEUE-TYPE[5]  FIFO
[SUB2/1/0 SUB2/2/0 SUB2/3/0 SUB2/4/0 SUB2/5/0 SUB2/6/0 SUB2/7/0 SUB2/8/0 SUB2/9/0 SUB2/10/0 SUB2/11/0 SUB2/12/0 SUB2/13/0 SUB2/14/0 SUB2/15/0 SUB2/16/0 SUB2/17/0 SUB2/18/0 SUB2/19/0 SUB2/20/0 SUB2/21/0 SUB2/22/0 SUB2/23/0 SUB2/24/0 SUB2/25/0 SUB2/26/0 SUB2/27/0 SUB2/28/0 SUB2/29/0 SUB2/30/0 SUB2/31/0 SUB2/32/0] MAC-PROPAGATION-DELAY  1MS
[SUB2/1/0 SUB2/2/0 SUB2/3/0 SUB2/4/0 SUB2/5/0 SUB2/6/0 SUB2/7/0 SUB2/8/0 SUB2/9/0 SUB2/10/0 SUB2/11/0 SUB2/12/0 SUB2/13/0 SUB2/14/0 SUB2/15/0 SUB2/16/0 SUB2/17/0 SUB2/18/0 SUB2/19/0 SUB2/20/0 SUB2/21/0 SUB2/22/0 SUB2/23/0 SUB2/24/0 SUB2/25/0 SUB2/26/0 SUB2/27/0 SUB2/28/0 SUB2/29/0 SUB2/30/0 SUB2/31/0 SUB2/32/0] PHY-MODEL  PHY-MULTICHANNEL
[SUB2/1/0] IP-QUEUE-PRIORITY-QUEUE-MAX-AGE[4]  0S
[SUB2/1/0] IP-QUEUE-PRIORITY-QUEUE-SIZE[2]  15000000
[SUB2/1/0 SUB2/2/0 SUB2/3/0 SUB2/4/0 SUB2/5/0 SUB2/6/0 SUB2/7/0 SUB2/8/0 SUB2/9/0 SUB2/10/0 SUB2/11/0 SUB2/12/0 SUB2/13/0 SUB2/14/0 SUB2/15/0 SUB2/16/0 SUB2/17/0 SUB2/18/0 SUB2/19/0 SUB2/20/0 SUB2/21/0 SUB2/22/0 SUB2/23/0 SUB2/24/0 SUB2/25/0 SUB2/26/0 SUB2/27/0 SUB2/28/0 SUB2/29/0 SUB2/30/0 SUB2/31/0 SUB2/32/0] ANTENNA-GAIN  16.0
[SUB2/1/0] IP-QUEUE-TYPE[0]  FIFO
[SUB2/1/0] ANTENNA-CONNECTION-LOSS  0.2
[SUB2/1/0 SUB2/2/0 SUB2/3/0 SUB2/4/0 SUB2/5/0 SUB2/6/0 SUB2/7/0 SUB2/8/0 SUB2/9/0 SUB2/10/0 SUB2/11/0 SUB2/12/0 SUB2/13/0 SUB2/14/0 SUB2/15/0 SUB2/16/0 SUB2/17/0 SUB2/18/0 SUB2/19/0 SUB2/20/0 SUB2/21/0 SUB2/22/0 SUB2/23/0 SUB2/24/0 SUB2/25/0 SUB2/26/0 SUB2/27/0 SUB2/28/0 SUB2/29/0 SUB2/30/0 SUB2/31/0 SUB2/32/0] AODV-NODE-TRAVERSAL-TIME-IPv4  400MS
[SUB2/1/0] IP-QUEUE-NUM-PRIORITIES  8
[SUB2/1/0] ANTENNA-MISMATCH-LOSS  0.3
[SUB2/1/0] ANTENNA-CABLE-LOSS  0.0
[SUB2/1/0 SUB2/2/0 SUB2/3/0 SUB2/4/0 SUB2/5/0 SUB2/6/0 SUB2/7/0 SUB2/8/0 SUB2/9/0 SUB2/10/0 SUB2/11/0 SUB2/12/0 SUB2/13/0 SUB2/14/0 SUB2/15/0 SUB2/16/0 SUB2/17/0 SUB2/18/0 SUB2/19/0 SUB2/20/0 SUB2/21/0 SUB2/22/0 SUB2/23/0 SUB2/24/0 SUB2/25/0 SUB2/26/0 SUB2/27/0 SUB2/28/0 SUB2/29/0 SUB2/30/0 SUB2/31/0 SUB2/32/0] PHY-LISTENABLE-CHANNELS  channel0,channel1,channel2,channel3,channel4,channel5,channel6,channel7,channel8,channel9,channel10,channel11,channel12,channel13,channel14,channel15,channel16,channel17,channel18,channel19,channel20,channel21,channel22,channel23,channel24
[SUB2/1/0 SUB2/2/0 SUB2/3/0 SUB2/4/0 SUB2/5/0 SUB2/6/0 SUB2/7/0 SUB2/8/0 SUB2/9/0 SUB2/10/0 SUB2/11/0 SUB2/12/0 SUB2/13/0 SUB2/14/0 SUB2/15/0 SUB2/16/0 SUB2/17/0 SUB2/18/0 SUB2/19/0 SUB2/20/0 SUB2/21/0 SUB2/22/0 SUB2/23/0 SUB2/24/0 SUB2/25/0 SUB2/26/0 SUB2/27/0 SUB2/28/0 SUB2/29/0 SUB2/30/0 SUB2/31/0 SUB2/32/0] PHY-RX-MODEL  SNR-THRESHOLD-BASED
[SUB2/1/0] IP-QUEUE-PRIORITY-QUEUE-SIZE[3]  15000000
[SUB2/1/0 SUB2/2/0 SUB2/3/0 SUB2/4/0 SUB2/5/0 SUB2/6/0 SUB2/7/0 SUB2/8/0 SUB2/9/0 SUB2/10/0 SUB2/11/0 SUB2/12/0 SUB2/13/0 SUB2/14/0 SUB2/15/0 SUB2/16/0 SUB2/17/0 SUB2/18/0 SUB2/19/0 SUB2/20/0 SUB2/21/0 SUB2/22/0 SUB2/23/0 SUB2/24/0 SUB2/25/0 SUB2/26/0 SUB2/27/0 SUB2/28/0 SUB2/29/0 SUB2/30/0 SUB2/31/0 SUB2/32/0] PHY-MULTICHANNEL-TX-POWER  37.0
[SUB2/1/0] IP-QUEUE-PRIORITY-QUEUE-MAX-AGE[1]  0S
[SUB2/1/0] IP-QUEUE-TYPE[2]  FIFO
[SUB2/1/0 SUB2/2/0 SUB2/3/0 SUB2/4/0 SUB2/5/0 SUB2/6/0 SUB2/7/0 SUB2/8/0 SUB2/9/0 SUB2/10/0 SUB2/11/0 SUB2/12/0 SUB2/13/0 SUB2/14/0 SUB2/15/0 SUB2/16/0 SUB2/17/0 SUB2/18/0 SUB2/19/0 SUB2/20/0 SUB2/21/0 SUB2/22/0 SUB2/23/0 SUB2/24/0 SUB2/25/0 SUB2/26/0 SUB2/27/0 SUB2/28/0 SUB2/29/0 SUB2/30/0 SUB2/31/0 SUB2/32/0] PHY-MULTICHANNEL-CENTER-FREQUENCY  5035000000.000000
[SUB2/1/0] IP-QUEUE-PRIORITY-QUEUE-SIZE[7]  15000000
[SUB2/1/0] IP-QUEUE-PRIORITY-QUEUE-MAX-AGE[5]  0S
[SUB2/1/0 SUB2/2/0] IP-FRAGMENTATION-UNIT  2048
[SUB2/1/0 SUB2/2/0 SUB2/3/0 SUB2/4/0 SUB2/5/0 SUB2/6/0 SUB2/7/0 SUB2/8/0 SUB2/9/0 SUB2/10/0 SUB2/11/0 SUB2/12/0 SUB2/13/0 SUB2/14/0 SUB2/15/0 SUB2/16/0 SUB2/17/0 SUB2/18/0 SUB2/19/0 SUB2/20/0 SUB2/21/0 SUB2/22/0 SUB2/23/0 SUB2/24/0 SUB2/25/0 SUB2/26/0 SUB2/27/0 SUB2/28/0 SUB2/29/0 SUB2/30/0 SUB2/31/0 SUB2/32/0] ANTENNA-HEIGHT  10.0
[SUB2/1/0] ANTENNA-ORIENTATION-ELEVATION  0
[SUB2/1/0] DUMMY-ANTENNA-MODEL-CONFIG-FILE-SPECIFY  NO


#*************Hierarchy Configuration***********************************


#******************Node Configuration***********************************


[1 thru 32]     MOBILITY-WP-MIN-SPEED 20.000000
[1 thru 32]     IP-QUEUE-PRIORITY-INPUT-QUEUE-SIZE 300000000
[1 thru 32]     IP-QUEUE-PRIORITY-QUEUE-MAX-AGE[2] 0S
[1 thru 32]     IP-QUEUE-TYPE[7] FIFO
[1]             HOSTNAME UAV-01
[2]             HOSTNAME UAV-02
[3]             HOSTNAME UAV-03
[4]             HOSTNAME UAV-04
[5]             HOSTNAME UAV-05
[6]             HOSTNAME UAV-06
[7]             HOSTNAME UAV-07
[8]             HOSTNAME UAV-08
[9]             HOSTNAME UAV-09
[10]            HOSTNAME UAV-10
[11]            HOSTNAME UAV-11
[12]            HOSTNAME UAV-12
[13]            HOSTNAME UAV-13
[14]            HOSTNAME UAV-14
[15]            HOSTNAME UAV-15
[16]            HOSTNAME UAV-16
[17]            HOSTNAME UAV-17
[18]            HOSTNAME UAV-18
[19]            HOSTNAME UAV-19
[20]            HOSTNAME UAV-20
[21]            HOSTNAME UAV-21
[22]            HOSTNAME UAV-22
[23]            HOSTNAME UAV-23
[24]            HOSTNAME UAV-24
[25]            HOSTNAME UAV-25
[26]            HOSTNAME UAV-26
[27]            HOSTNAME UAV-27
[28]            HOSTNAME UAV-28
[29]            HOSTNAME UAV-29
[30]            HOSTNAME UAV-30
[31]            HOSTNAME UAV-31
[32]            HOSTNAME UAV-32
[1 thru 32]     IP-QUEUE-PRIORITY-QUEUE-MAX-AGE[4] 0S
[1 thru 32]     IP-QUEUE-PRIORITY-QUEUE-SIZE[5] 150000
[1 thru 32]     IP-QUEUE-PRIORITY-QUEUE-MAX-AGE[5] 0S
[1 thru 32]     IP-QUEUE-TYPE[2] FIFO
[1 thru 32]     USE-ORIENTATION-VALUES NO
[1 thru 32]     MOBILITY-WP-PAUSE 5S
[1 thru 32]     IP-QUEUE-TYPE[4] FIFO
[1 thru 32]     NODE-PLACEMENT FILE
[1 thru 32]     IP-QUEUE-TYPE[1] FIFO
[1 thru 32]     IP-QUEUE-PRIORITY-QUEUE-MAX-AGE[3] 0S
[1 thru 32]     GUI-NODE-3D-ICON uav
[1 thru 32]     IP-QUEUE-TYPE[5] FIFO
[1 thru 32]     IP-QUEUE-PRIORITY-QUEUE-SIZE[6] 150000
[1 thru 32]     MOBILITY-POSITION-GRANULARITY 1.0
[1 thru 32]     IP-QUEUE-TYPE[6] FIFO
[1 thru 32]     IP-QUEUE-PRIORITY-QUEUE-SIZE[7] 150000
[1 thru 32]     ICMP NO
[1 thru 32]     IP-QUEUE-TYPE[0] FIFO
[1 thru 32]     GUI-SCALE-FACTOR-2D 200
[1 thru 32]     IP-QUEUE-NUM-PRIORITIES 8
[1 thru 32]     MOBILITY RANDOM-WAYPOINT
[1 thru 32]     IP-QUEUE-TYPE[3] FIFO
[1 thru 32]     IP-QUEUE-PRIORITY-QUEUE-SIZE[4] 150000
[1 thru 32]     IP-QUEUE-PRIORITY-QUEUE-SIZE[0] 150000
[1 thru 32]     IP-QUEUE-PRIORITY-QUEUE-SIZE[2] 150000
[1 thru 32]     GUI-NODE-2D-ICON uav.png
[1 thru 32]     GUI-NODE-SCALE 1
[1 thru 32]     IP-QUEUE-PRIORITY-QUEUE-SIZE[1] 150000
[1 thru 32]     IP-QUEUE-PRIORITY-QUEUE-MAX-AGE[6] 0S
[1 thru 32]     MOBILITY-GROUND-NODE NO
[1 thru 32]     IP-QUEUE-PRIORITY-QUEUE-SIZE[3] 150000
[1 thru 32]     IP-QUEUE-PRIORITY-QUEUE-MAX-AGE[0] 0S
[1 thru 32]     IP-QUEUE-PRIORITY-QUEUE-MAX-AGE[7] 0S
[1 thru 32]     GUI-SCALE-FACTOR-3D 100
[1 thru 32]     MOBILITY-WP-MAX-SPEED 50.000000
[1 thru 32]     IP-QUEUE-PRIORITY-QUEUE-MAX-AGE[1] 0S
NODE-POSITION-FILE waveonlinedefine-spma-32.nodes

#*********Miscellaneous Configuration***********************************

GUI-DISPLAY-SETTINGS-FILE waveonlinedefine-spma-32.display

